[submodule "charts/storage-classes"]
	path = charts/storage-classes
	url = git@github.com:edwardtheharris/helm-storage-classes.git
[submodule "charts/postgresql"]
	path = charts/postgresql
	url = git@github.com:edwardtheharris/helm-postgresql.git
[submodule "charts/redis"]
	path = charts/redis
	url = git@github.com:edwardtheharris/helm-redis.git
[submodule "charts/vault/vault-secrets-operator"]
	path = charts/vault/vault-secrets-operator
	url = git@github.com:hashicorp/vault-secrets-operator.git
