[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
sphinx = "*"
myst-parser = {extras = ["linkify"], version = "*"}
sphinx-autobuild = "*"

[dev-packages]

[requires]
python_version = "3.12"
