[submodule "unittests/bash/bats"]
	path = unittests/bash/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "unittests/bash/test_helper/bats-support"]
	path = unittests/bash/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "unittests/bash/test_helper/bats-assert"]
	path = unittests/bash/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "unittests/bash/test_helper/bats-mock"]
	path = unittests/bash/test_helper/bats-mock
	url = https://github.com/jasonkarns/bats-mock.git
