---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  labels:
    app: backend
    service: backend
spec:
  ports:
    - name: http
      port: 3000
      targetPort: 3000
  selector:
    app: backend
